html {
    min-height: 100%; 

    display: flex;
    flex-direction: column;
}

body {
    flex-grow: 1;
    border: 3px solid rgb(12, 30, 44); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}   


.mainContainer { 
    height: 768px; 
    width: 768px;
    display: flex;  
    border: 3px solid rgb(17, 136, 233); 
    display: flex;
    flex-direction: column;
}

.controls{
    border: 3px solid rgb(136, 18, 18);
    height: 768px;
    width: 250px; 
}


.horizontal{
     border: 2px solid green;
     flex-grow: 1;
}